h1 {
	position: relative;
	top: -40px;
}

img {
	position: relative;
	top: -40px;
	width: 100px;
	margin: 20px;
}

.img-container {
	margin: 0;
	width: 250px;
}

.row {
	position: relative;
	height: 200px;
}

textarea {
	height: 550px;
}

button {
	margin: 0 5px;
	color: white;
	border: none;
	width: 100px;
	height: 50px;
	border-radius: 5px;
	font-size: 15px;
}

a:hover {
	text-decoration: none;
}

.cancel-btn {
	border-radius: 5px;
	padding: 15px 20px 15px 20px;
	position: relative;
	left: -8px;
	color: rgb(207, 0, 52);
}

.title {
	height: 50px;
}

.cancel-btn:hover {
	text-decoration: none;
	color: white;
}

.small-btn {
	width: 60px;
	height: 30px;
	font-size: 12px;
	position: relative;
	top: -35px;
}

.tag-cancel {
	margin-left: 63px;
	margin-right: 20px;
}

.new-post-btns-div button {
	position: relative;
	top: -160px;
}

#edit-tag-btn-form {
	height: 0;
}

li {
	list-style-type: none;
}
